.bg_theme{
    background-color: rgb(240, 255, 250);
}
.display_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_brand {
    font-weight: 600;
    color: #ff0202;
}.logo_brand:hover{
    color: #e60202;
}
.menu_list a{
    font-weight: 600;
    color: #ff7b00;
    position: relative;
    text-decoration: none;

}.menu_list a::after {
    content: "";
    position: absolute;
    background-color: #ff7b00;
    height: 4px;
    width: 0;
    left: 50%;
    bottom: 0rem;

    transition: 0.3s ease-out;
}.menu_list a:hover::after {
    left: 25%;
    width: 50%;
}
